#!/usr/bin/make -f
#export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_configure:
	dh_testdir
	autoreconf -vif
	dh_auto_configure -- --with-mysql --with-pgsql --without-gcc-arch

override_dh_compress:
	dh_compress -X.lua

override_dh_auto_test:
	@echo "Skipping test step"
